<html xmlns:th="https://thymeleaf.org">
<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<form action="/" method="post">
    <table>
        <tr>
            <td><h4></h4></td>
            <td><h4 th:text="${msg}"></h4></td>
        </tr>
        <tr>
            <td><h4>User Name: </h4></td>
            <td><h4 th:text="${user.name}"></h4></td>
        </tr>
        <tr>
            <td><h4>Email ID: </h4></td>
            <td><h4 th:text="${user.email}"></h4></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Login Here"></input></td>
        </tr>

    </table>
</form>

</body>
</html>  